* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.center{
    padding-left: calc(50% - 553px);
    padding-right: calc(50% - 553px);
}

/* .top{
    background: #FFF;
} */

.top_header_menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    padding-top: 51px;
    padding-bottom: 44px;
}

.logo_home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    display: flex;
    gap: 32px;
}


.text_logo_Grow {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
img {
    margin-right: 10px;
}
.text_logo_Be{
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.top_header_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_content {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.top_info{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}
.top_info_heading {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
}
.top_info_text {
    margin-top: 9px;
    margin-bottom: 37px;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}
.button_start {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button_watch {
    width: 90px;
    height: 19px;
    flex-shrink: 0;
}

.logo {
    padding-top: 96px;
    padding-bottom: 97px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.item{
    width: 310px;
    padding-top: 140px;
    padding-bottom: 125px;
    padding-left: 60px;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.item__img{
    padding-bottom: 25px;
}

.heading{
    padding-bottom: 17px;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: normal;
}

.item__text{
    padding-bottom: 25px;
}

.body{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 370px);
}

.up{
    padding-top: 92px;
    padding-bottom: 50px;
    grid-column: 1/4;
    width: 682px;
    place-self: center;
    text-align: center;
}


.body__head{
    padding-bottom: 19px;
}
.down{
    padding-bottom: 100px;
    width: 370px;
    height: 549px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}
.item__body__img{
    padding-bottom: 30px;
}

.item__body{
    padding-left: 9px;
    padding-right: 9px;
    text-align: center;
}
.item__text{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
}
.btn{
    
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}